<div class="container">

  <app-loading-screen [loading]="loading"></app-loading-screen>

  <ng-container *ngIf="isAuthRoute()">

    <a routerLink="/" class="volunera-logo">
      <img src="images/volunera-logo-black.svg" alt="VolunEra" class="logo-image">
    </a>

    <a routerLink="/" class="back-button">
      <i class="fas fa-arrow-left"></i>
    </a>
  </ng-container>

  <app-navbar *ngIf="shouldShowNavbarFooter()"></app-navbar>

  <router-outlet></router-outlet>

  <app-footer *ngIf="shouldShowNavbarFooter()"></app-footer>
</div>